* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: black;
    color: #fff;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
  }

.apple-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 80px;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 10;
   height: 80px;
   backdrop-filter: blur(20px) saturate(200%);
   -webkit-backdrop-filter: blur(20px) saturate(200%);
   border-bottom: 1px solid rgba(255, 255, 255, 0.15);
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
 
 }

 .logo {
    width: 50px; 
    height: 50px;
    background-image: url('applelogo2.png'); 
    background-repeat: no-repeat;
    background-size: contain;  
    background-position: center;
    cursor: pointer;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4)); 
    transition: transform 0.2s ease, filter 0.3s ease;
  
  }
  
  .logo a {
    position: relative;
    transition: color 0.3s;
    filter: drop-shadow(2px 2px 2px black);
    color: #f0f0f0;
    text-decoration: none;
    margin: 0 60px;
    top: 10px;
    font-size: 25px;
    
  }

  .navbar a {
    filter: drop-shadow(2px 2px 2px black);
    color: #f0f0f0;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  
  .navbar a:hover {
    color: #999;
  }

.checkout-section {
  padding: 120px 50px 60px;
  text-align: center;
}

.checkout-section h1 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: White;
}

.checkout-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: linear-gradient(145deg, #111, #1a1a1a);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px 40px;
  margin: 0 auto 40px;
  width: 700px;
  height: 250px;
}

.checkout-image {
  width: 180px;
  height: auto;
}

.checkout-details h2 {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.order-status {
  font-size: 1rem;
  margin: 0;
}

.status-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.in-progress {
  color: #ff9500;
  font-weight: 600;
}

.cancel-order {
 
  background-color: orange;
  color: black;
  border: none;
  padding: 8px 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

.cancel-order:hover {
  background-color: #c62828;
  color: white;
}


